@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  text-align: center;
  margin: 0;
  font-family: 'Poppins', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to right, #2B7A78, #85DCBF)
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
